<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunicação de dados</title>
    <link rel="stylesheet" href="/assets/style.css"/>
</head> 
<body>
    <div class="menu">
        <a href="/index.html"><img src="logo.png" /></a>
        <div class="menu-items">
          <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/Views/comunicacao.html">Comunicação de dados</a></li>
            <li>
              <a href="/Views/conceitos.html"
                >Conceito de redes de Computadores</a
              >
            </li>
            <li>
              <a href="/Views/equipamentos.html"
                >Equipamentos e acessórios de rede</a
              >
            </li>
            <li><a href="/Views/softwares.html">Softwares</a></li>
          </ul>
        </div>
      </div>
      <div class="comunicaçao">
        <h1>Comunicação de Dados</h1>
        <p>A comunicação de dados refere-se ao processo de transferência de informações entre dispositivos, sistemas ou usuários através de meios físicos ou lógicos. O objetivo é permitir que dados, como textos, imagens, sons ou outros tipos de informações, sejam enviados e recebidos de forma eficaz e precisa.</p>
        <p>A eficiência de um sistema de comunicação de dados depende fundamentalmente de três características:</p> 
        <li maker>Entrega (delivery): o sistema deve entregar os dados ao destino correto. Os dados devem ser recebidos somente pelo dispositivo ou usuário de destino.</li> <br>
        <li maker>Confiabilidade: o sistema deve garantir a entrega dos dados. Dados modificados ou corrompidos em uma transmissão são pouco úteis.</li> <br>
        <li maker>Tempo de atraso: o sistema deve entregar dados em um tempo finito e predeterminado. Dados entregues tardiamente são pouco úteis. Por exemplo, no caso de transmissões multimídia, como vídeos, atrasos não são desejáveis. Assim, os dados devem ser entregues praticamente no mesmo instante em que foram produzidos, isto é, sem atrasos significativos.</li> <br>
        <h2>Componentes</h2>
        <p>Um sistema básico de comunicação de dados é composto por cinco elementos:</p>
        <li maker>Mensagem: é a informação a ser transmitida. Pode ser constituída de texto, números, figuras, áudio, vídeo ou qualquer combinação desses.</li> <br>
        <li maker>Transmissor: é o dispositivo que envia a mensagem de dados. Pode ser um computador, uma estação de trabalho, um telefone, uma câmera de vídeo e assim por diante.</li> <br>
        <li maker>Receptor: é o dispositivo que recebe a mensagem. Pode ser um computador, uma estação de trabalho, um telefone, uma câmera de vídeo e assim por diante.</li> <br>
        <li maker>Meio: é o caminho físico por onde viaja uma mensagem originada e direcionada ao receptor.</li> <br>
        <li maker>Protocolo: é um conjunto de regras que governa a comunicação de dados. Ele representa um acordo entre os dispositivos que se comunicam</li> <br>
      </div>
</body>
</html>