<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunicação de dados</title>
    <link rel="stylesheet" href="/assets/style.css"/>
</head> 
<body>
    <div class="menu">
        <a href="/index.html"><img src="logo.png" /></a>
        <div class="menu-items">
          <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/Views/comunicacao.html">Comunicação de dados</a></li>
            <li>
              <a href="/Views/conceitos.html"
                >Conceito de redes de Computadores</a
              >
            </li>
            <li>
              <a href="/Views/equipamentos.html"
                >Equipamentos e acessórios de rede</a
              >
            </li>
            <li><a href="/Views/softwares.html">Softwares</a></li>
          </ul>
        </div>
      </div>
      <div class="comunicaçao">
        <h1>Comunicação de Dados</h1>
        <p>A comunicação de dados refere-se ao processo de transferência de informações entre dispositivos, sistemas ou usuários através de meios físicos ou lógicos. O objetivo é permitir que dados, como textos, imagens, sons ou outros tipos de informações, sejam enviados e recebidos de forma eficaz e precisa.</p>
        
      </div>
</body>
</html>