<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Softwares</title>
    <link rel="stylesheet" href="/assets/style.css"/>
  </head>
  <body>
    <div class="menu">
      <a href="/index.html"><img src="logo.png" /></a>
      <div class="menu-items">
        <ul>
          <li><a href="/index.html">Inicio</a></li>
          <li><a href="/Views/comunicacao.html">Comunicação de dados</a></li>
          <li>
            <a href="/Views/conceitos.html"
              >Conceito de redes de Computadores</a
            >
          </li>
          <li>
            <a href="/Views/equipamentos.html"
              >Equipamentos e acessórios de rede</a
            >
          </li>
          <li><a href="/Views/softwares.html">Softwares</a></li>
        </ul>
      </div>
    </div>
    <div class="comunicaçao">
      <h1>Softwares</h1>
      <p>Conceito</p>
      <li maker>Software é o conjunto de programas, procedimentos e regras que permitem a execução de tarefas específicas em sistemas computacionais. Trata-se da parte lógica e intangível de um sistema de computação, que interage diretamente com o hardware, fornecendo instruções para que ele realize operações e processe dados de acordo com as necessidades dos usuários ou das aplicações.</li>
      <h2>Tipos de software</h2>
      <p>Existem três tipos de software que são os pilares da computação moderna, e cada um desempenha um papel fundamental para garantir o funcionamento adequado de um sistema computacional:</p>
      <li maker>Software de sistema: serve como a base para o funcionamento do computador ou dispositivo eletrônico.</li> <br>
      <li maker>Software aplicativo: são programas desenvolvidos para realizar tarefas específicas, direcionadas ao usuário final. Esses softwares ajudam a executar atividades cotidianas e aumentar a produtividade.</li> <br>
    </div>
  </body>
</html>
