body {
  margin: 0;
  background-color: #303030;
  font-family: "Roboto", sans-serif;
}
h1 {
  color: white;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
}
.menu-items ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

.menu-items li a {
  text-decoration: none;
  color: #ffffff;
}

.img-section {
  height: 100%;
  width: 900px;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
}

.container-home-page {
  height: 100vh;
  gap: 16px;
  display: flex;
  margin: auto;
  max-width: 1100px;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
}
.container-home-page p {
  height: 100vh;
  gap: 16px;
  display: flex;
  margin: auto;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
}

.container-seconde {
  max-width: 400px;
  font-size: 18px;
  text-align: justify;
}

.container-seconde p {
  color: white;
}

.container-home-page p {
  height: 100vh;
  gap: 16px;
  display: flex;
  margin: auto;
  max-width: 1100px;
  z-index: 10;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container-topics {
  max-width: 1100px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: -200px;
  z-index: 10;
  position: relative;
}

.container-topics p{
  color: #ffffff;
}

.container-topics div {
  position: relative;
  padding: 16px;
  text-align: center;
  transition: color 0.3s ease;
}

.container-topics div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2196f3;
  transition: width 0.3s ease;
}

.container-topics a {
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}

.container-topics div {
  text-align: left;
}

.container-topics div:hover a {
  color: #2196f3;
  text-decoration: none;
}

.container-topics div:hover::after {
  width: 100%;
}

.separator {
  padding: 0 !important;
  width: 2px;
  height: 80px;
  margin: 0 auto;
  background-color: #ccc;
  border-radius: 2px;
}

@media (max-width: 1224px) {
  .img-section {
    width: 600px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .img-section {
    max-width: 400px;
    position: static;
  }
}

.comunicaçao {
  color: rgb(250, 250, 250);
  padding-left: 8%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 17px;
  padding-right: 8%;
}

.comunicaçao2 {
  color: rgb(250, 250, 250);
  padding-left: 8%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 17px;
  padding-right: 8%;
}
